Repository kaushiknatua12345/ComponentTestingWithJasmineForClasses, changes with the labels that .github/labeler.yml gives for each.
All labels: component, service, tests, config, documentation, styles, dependencies, ci, assets

.github/labeler.yml:

# Labeler configuration for automatically labeling PRs based on file changes

# Component changes
component:
  - 'src/app/**/*.component.ts'
  - 'src/app/**/*.component.html'
  - 'src/app/**/*.component.css'

# Service changes
service:
  - 'src/app/**/*.service.ts'

# Test changes
tests:
  - 'src/app/**/*.spec.ts'
  - '**/*.test.ts'
  - 'e2e/**/*'

# Configuration changes
config:
  - 'angular.json'
  - 'package.json'
  - 'tsconfig*.json'
  - '.github/**/*'

# Documentation changes
documentation:
  - '*.md'
  - 'docs/**/*'

# Styling changes
styles:
  - 'src/styles.css'
  - 'src/app/**/*.css'
  - 'src/app/**/*.scss'

# Dependencies changes
dependencies:
  - 'package.json'
  - 'package-lock.json'

# Build/CI changes
ci:
  - '.github/workflows/**/*'
  - 'angular.json'

# Assets changes
assets:
  - 'src/assets/**/*'
  - 'public/**/*'

second push
  .github/workflows/ci-cd.yml
  .github/workflows/deploy.yml
  .github/workflows/pr-checks.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  WORKFLOW_FIXES.md
  package.json
Labels: config, documentation, dependencies, ci

third push
  .github/workflows/ci-cd.yml
  .github/workflows/deploy.yml
  WORKFLOW_FIXES.md
Labels: config, documentation, ci

fourth push
  WORKFLOW_FIXES.md
  angular.json
  eslint.config.js
  package-lock.json
  package.json
  src/app/crudlogic.service.ts
  src/app/displayusers/displayusers.component.spec.ts
  src/app/displayusers/displayusers.component.ts
  src/app/users/users.component.interface.spec.ts
  src/app/users/users.component.spec.ts
Labels: component, service, tests, config, documentation, dependencies, ci

fifth push
  .github/workflows/deploy.yml
  WORKFLOW_FIXES.md
Labels: config, documentation, ci

Delete src/app/users/users.component.interface.spec.ts
  src/app/users/users.component.interface.spec.ts
Labels: tests
